@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

@font-face {
   font-family: "Bebas Neue Cyrillic";
   src: local("Bebas Neue Cyrillic"), local("BebasNeueCyrillic"),
      url("../fonts/BebasNeueCyrillic.woff2") format("woff2"),
      url("../fonts/BebasNeueCyrillic.woff") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

/* ========== Base ========== */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
   color: inherit;
}

body {
   font-family: "Roboto", sans-serif;
}

.container {
   box-sizing: content-box;
   max-width: 1280px;
   margin: 0 auto;
   padding: 0 15px;
}

/* ========== Header ========== */
.header {
   padding: 12px 0;
   background-color: #635854;
   border-bottom: 4px solid #3596f5;
}

.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.navbar-menu {
   display: flex;
   list-style: none;
   text-align: center;
   gap: 80px;
}

.navbar-link {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.1875;
   color: #ffffff;
}

.navbar-contacts {
   text-align: right;
   color: #ffffff;
}
.navbar-text {
   display: block;
   margin-bottom: 4px;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.14;
   opacity: 0.5;
}

.navbar-phone {
   font-size: 17px;
   font-weight: 700;
   line-height: 1.176;
}

/* ========== Main ========== */
.main {
   padding-top: 54px;
   /* display: flex; */
}
.main-wrapper {
   display: flex;
   gap: 20px;
}
.main-info {
   padding: 40px 0;
   flex-grow: 1;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}
.home-image path {
   opacity: 0;
   cursor: pointer;
}

.home-image path:hover {
   opacity: 1;
}

path.current-floor {
   opacity: 1;
}
.counter-group {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.counter-button {
   background-color: transparent;
   border: none;
   cursor: pointer;
}
.counter-arrow-down {
   transform: rotateX(180deg);
}

.main-title {
   font-family: "Bebas Neue Cyrillic", sans-serif;
   font-weight: 400;
   font-size: 37px;
   line-height: 1.2;
   text-transform: uppercase;
   color: #635854;
}

.floor-counter {
   margin-top: 10px;
   font-family: "Bebas Neue Cyrillic", sans-serif;
   font-weight: 400;
   font-size: 125px;
   color: #635854;
}

.button-primary {
   padding: 16px 36px;
   border: none;
   background-color: #3596f5;
   border-radius: 6px;
   color: #ffffff;
   cursor: pointer;
}

/* ========== Modal ========== */

.modal {
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.8);
   opacity: 0;
   transform: scale(0);
   transition: opacity 0.2s;
}
.is-open {
   opacity: 1;
   transform: scale(1);
}
.modal-dialog {
   position: relative;
   display: flex;
   max-width: 1000px;
   min-height: 565px;
   background-color: #ffffff;
   flex-grow: 1;
   opacity: 0;
   transform: translateY(-15%);
   transition: transform 0.2s, opacity 0.2s;
   transition-delay: 0.2s;
}
.is-open > .modal-dialog {
   opacity: 1;
   transform: translateY(0);
}
.modal-image {
   background-color: #ebebeb;
   width: 60%;
   text-align: center;
   padding: 50px;
}

.modal-title {
   margin-bottom: 10px;
   font-family: "Bebas Neue Cyrillic", sans-serif;
   font-weight: 400;
   font-size: 24px;
   line-height: 1.03;
   text-transform: uppercase;
   letter-spacing: 0.9px;
   color: #000000;
}

.modal-info {
   width: 400%;
   padding: 50px 46px;
}
.modal-title-right {
   margin-bottom: 50px;
}
.flat-list {
   margin-bottom: 50px;
   list-style: none;
}
.flat-item + .flat-item {
   margin-top: 10px;
}
.flat-link {
   font-size: 16px;
   line-height: 1.1875;
   color: #635854;
}

.flat-link:hover {
   color: #3596f5;
   text-decoration: underline;
}

.modal-alert {
   max-width: 240px;
   font-family: "Roboto";
   font-style: italic;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.2;
   color: #635854;
}

.modal-close-btn {
   position: absolute;
   right: 27px;
   top: 38px;
   border: none;
   background-color: transparent;
   cursor: pointer;
}

.flats path {
   opacity: 0;
   cursor: pointer;
}

.flats path:hover {
   opacity: 1;
}
